#SystemText {
    margin: 20px;
    font-size: 18px;
}
#userText {
    margin: 20px;
    font-size: 18px;
}
#CheckerButton {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}
#scoreText{
    margin : 20px;
    font-size : 18px;
}
#Information{
    margin : 20px;
    font-size : 18px;
}

.color-box {
  width: 40px;
  height: 40px;
  margin: 4px;
  display: inline-block;
  border: 2px solid black;
}

.circle {
  border-radius: 50%;
}

.color-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}


body{
    background-color: pink;
}

#main-thing{
    display: flex;
}